@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body{
  background: #5F9EA0;
}

 .block{
  width:50%;
  margin:30px auto;
  height: auto;
  border: 2px solid black;
  border-radius: 20px;
  background-color: rgb(236, 234, 234);
 }

 .heading {
  width: 70%;
  margin:50px auto;
  height: auto;
  text-align: center;
  color: #3f5f64;
  background: white;
  border: 2px solid black;
  border-radius: 20px;
  }

.task_input {
  width: 60%;
  height: 15px; 
  padding: 10px;
  border: 2px solid #3f5f64;
  background-color: white;
 }

.add_btn {
  height: 39px;
  background: white;
  color: 	#3f5f64;
  border: 2px solid #3f5f64;
  border-radius: 5px; 
  padding: 5px 20px;
}
.btn-primary {
	color: #fff;
	background-color: #991623;
	border-color: #cddf37;

 }

form {
  width: 65%; 
  margin: 30px auto; 
  border-radius: 5px; 
  padding: 10px;
  background: white;
  border: 2px solid black;
}


form p {
	color: red;
	margin: 0px;

}

table {
    width: 50%;
    margin: 30px auto;
    margin-left: 30px;
  	border-collapse: collapse;
}

tr {
	border-bottom: 1px solid #cbcbcb;
}

th {
	font-size: 20px;
	color: #3f5f64;
}

th, td{
	border: none;
  height: 30px;
	padding: 2px;
}

tr:hover {
	background: #b5d2d6;
	
}

.task {
	text-align: left;

}

.delete{
	text-align: center;
	
}

.delete a{
	color: white;
	background: #a52a2a;
	padding: 1px 6px;
	border-radius: 3px;
	text-decoration: none;

}

#image{
  margin-top:10px;
  margin-left: 90px;
}

