@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body{
  background: #5F9EA0;
}

 .block{
  width:50%;
  margin:30px auto;
  height: auto;
  border: 2px solid black;
  border-radius: 20px;
  background-color: rgb(236, 234, 234);
 }

 .heading {
  width: 70%;
  margin:50px auto;
  height: auto;
  text-align: center;
  color: #3f5f64;
  background: white;
  border: 2px solid black;
  border-radius: 20px;
  }
  
  .input-group {
    margin: 10px 0px 10px 0px;
  }
  
.task_input {
  width: 60%;
  height: 15px; 
  padding: 10px;
  border: 2px solid #3f5f64;
  background-color: white;
 }
 .btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #5F9EA0;
  border: none;
  border-radius: 5px;
}
.add_btn {
  height: 39px;
  background: white;
  color: 	#3f5f64;
  border: 2px solid #3f5f64;
  border-radius: 5px; 
  padding: 5px 20px;
}
.btn-primary {
	color: #fff;
	background-color: #991623;
	border-color: #cddf37;

 }

form {
  width: 65%; 
  margin: 30px auto; 
  border-radius: 5px; 
  padding: 10px;
  background: white;
  border: 2px solid black;
}


form p {
	color: red;
	margin: 0px;

}

table{
    width: 50%;
    margin: 30px auto;
    border-collapse: collapse;
    text-align: left;
}

tr {
    border-bottom: 1px solid #cbcbcb;
}

th, td{
    border: none;
    height: 30px;
    padding: 2px;
}

tr:hover {
    background: #F5F5F5;
}


.edit_btn {
    text-decoration: none;
    padding: 2px 5px;
    background: #2E8B57;
    color: white;
    border-radius: 3px;
}

.del_btn {
    text-decoration: none;
    padding: 2px 5px;
    color: white;
    border-radius: 3px;
    background: #800000;
}

#image{
text-align:center;
}

